#container {
    width: 250px;
    margin: 0 auto;
}
#form {
    margin: 20px 0;
}
#result {
    width: 100%;
    padding-left: 20px;
}
#result li {
    margin-bottom: 10px;
}
#message {
    color: #fff;
}
.correct {
    background-color: green;
}
.incorrect {
    background-color: red;
}