@charset "utf-8";

/* base style */
body{
  font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #333;
}
label, input, select, textarea, button {
    cursor: pointer;
}
button {
    border: 0;

}
/* section */
.section {
    padding: 30px 15px;
}
.section-secoundday {
    background-color: #efefef;
}
.section-headline {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 40px 0;
}
.section-button {
    margin-top: 40px;
    text-align: center;
}

/* 
Grid
 */
.grid {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-item{
    list-style: none;

}
.grid-col-2 > .grid-item {
    width:50% ;
}
.grid-col-3 > .grid-item {
    width:33.3% ;
}
.grid-col-4 > .grid-item {
    width:25% ;
}

/* About */
.about {
margin: 0;
display: flex;
}

/* .about-image */
.about-caption {
    margin-left: 15px;
}
.about-headline {
    margin: 0 0 20px;
    font-size: 30px;
}


/*
 Feature
 */
.feature {
    text-align: center;
    padding: 0 15px;
}
.featuer-headline {
    font-weight: bold;
    margin-bottom: 20px;
}
.feaure-img {
    margin: 0 0 20px;
}
.feature-descreption {
    margin: 0;
    text-align: left;
}

/*
 Card
 */
.card {
    padding: 0 10px;
}
.card-link {
    display: block;
    color: #333;
    text-decoration: none;
    position: relative;
    transition: background-color .25s;

}
.card-link:hover {
    background-color: #eee;
}
.card-label {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #999;
    color: #fff;
    display: block;
    padding: 5px 10px;
    font-size: 12px;
}
.card-image {
    width: 100%;
    height: auto;
}
.card-info {
    padding: 5px 10px;
}
.card-time
.card-headline {
    margin: 0;
}
.card-descript {
    margin: 0;
}

/* 
Avotor
 */
.avotor {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    padding: 10px;
}
.avotor-name {
    font-weight: bold;
    padding-left: 15px;
}
.avotor-image {
    margin: 0;
    border-radius: 50%;
    overflow: hidden;
}

/* 
buttn
 */
 .button {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    background-color: #333;
    text-align: center;
    padding: 15px 60px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 5px 5px 0 #bbb;
    transition:  box-shadow .25s;
 }
.button:hover {
    box-shadow: 0 0 0 #bbb;
}
.button-submit {
    background-color: #92d3ca;
}

/* 
select, input, radio, textarea
 */
 .select {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    min-width: 500px;
 }
 .input {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    min-width: 500px;
 }
 .radio {
    margin: 0 10px;
 }
 .textarea {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    min-width: 500px;
 }

/* .form */
.form-table {
    margin: 0 auto;
}
.form-table th {
padding: 10px;
}
.form-table td {
    padding: 10px;
}
.form-button {
    margin: 20px;
    text-align: center;
}